<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="5" />-->
    <link rel="stylesheet" href="./resources/css/bootstrap.css">
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand mb-0 h1" href="#">
        <img src="./resources/img/leaf.svg" width="25px">
        <span>Growbox</span>
    </a>
    <form class="form-inline">
        <button type="button" class="btn btn-link">
            <a href="/">
                <img src="./resources/img/reply.svg" width="25px">
            </a>
        </button>
    </form>
</nav>
<div class="container">
    <div class="container">
        <span class="row col">Настройка полива</span>
        <div class="row">
            <label class="col-md-6" for="time">Время полива</label>
            <div class="col-md-6" >
                <input type="time" id="time" required>
            </div>
        </div>
    </div>
</div>

<script src="./resources/js/jquery-3.3.1.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/Chart.min.js"></script>
<script src="./resources/js/chart-settings.js"></script>
</body>
</html>
