<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="5" />-->
    <link rel="stylesheet" href="./resources/css/bootstrap.css">
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
<nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand mb-0 h1" href="#">
        <img src="./resources/img/leaf.svg" width="25px">
        <span>Growbox</span>
    </a>
    <form class="form-inline">
        <button type="button" class="btn btn-link">
            <a href="/">
                <img src="./resources/img/reply.svg" width="25px">
            </a>
        </button>
    </form>
</nav>
<div class="container">
    <form class="container" method="post" action="updateWatering">
        <h2 class="row col">Настройка полива</h2>
        <div class="row">
            <label class="col-md-4" for="time">Время полива</label>
            <div class="col" >
                <input type="time" name="time" id="time" required>
            </div>
        </div>
        <div class="row">
            <label class="col-md-4" for="period">Периодичность (в днях)</label>
            <div class="col">
                <input type="number" name="period" id="period" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" class="form-check-input" id="check" onchange="eventHook()">
                <label class="form-check-label" style="margin-left: 30px;" for="check">Скорректировать дату и время на устройстве</label>
            </div>
        </div>
        <div class=""id="datetime" style="display: none">
            <div class="row">
                <label class="col-md-4" for="cDate">Дата</label>
                <div class="col">
                    <input type="date" name="cDate" id="cDate" required style="width: 150px ">
                </div>
            </div>
            <div class="row">
                <label class="col-md-4" for="cTime">Время</label>
                <div class="col">
                    <input type="time" name="cTime" id="cTime" required>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary row col" style="width: 150px;">Подтвердить</button>
        </div>


    </form>
</div>

<script src="./resources/js/jquery-3.3.1.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/Chart.min.js"></script>
<script src="./resources/js/settings.js"></script>
</body>
</html>
